<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Activity State Machine</title>
</head>
<body>
<h1>Activity State Machine</h1>
<section>
    <div><b>Activity id:</b> <span th:text="${activityId}"/></div>
    <div><b>Activity state:</b> <span th:text="${state}"/></div>
    <div><b>User role:</b> <span th:text="${role}"/></div>
</section>
<section>
    <h1>Available transitions:</h1>
    <div th:each="event: ${events}">
        <a th:href="@{/activity(activityId=${activityId}, transition=${event}, role=${role})}" th:text="${event}">

        </a>
        <br/>
    </div>

</section>

<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>